/.idea/
JavaTester.iml
/out/production/JavaTester/CustomScanner.class
/out/production/JavaTester/Hello.class
/out/production/JavaTester/InkrementacjaDekrementacja.class
/out/production/JavaTester/OperatoryMatematyczne.class
/out/production/JavaTester/TypyObiektowe.class
/out/production/JavaTester/TypyProste.class
/out/production/JavaTester/Zmienne.class
/out/production/JavaTester/Calculator.class
/out/production/JavaTester/InstrukcjaWarunkowaElseIf.class
/out/production/JavaTester/InstrukcjaWarunkowaIfElse.class
/out/production/JavaTester/NewCalculator.class
/out/production/JavaTester/OperatoryLogiczne.class
/out/production/JavaTester/OperatoryPorownania.class
/out/production/JavaTester/ZadDomWeryfikacjaWieku.class
/out/production/JavaTester/PracaWlasnaNewCalculator.class
/out/production/JavaTester/PrzypomnienieIF.class
/out/production/JavaTester/Switch.class
/out/production/JavaTester/ZadDomCalculator.class
/out/production/JavaTester/PetlaDoWhile.class
/out/production/JavaTester/PetlaFor.class
/out/production/JavaTester/PetlaWhile.class
/out/production/JavaTester/SwitchPracaWlasna.class
/out/production/JavaTester/Tablice.class
/out/production/JavaTester/PetleZadDom.class
