/.idea/
JavaTester.iml
/out/production/JavaTester/CustomScanner.class
/out/production/JavaTester/Hello.class
/out/production/JavaTester/InkrementacjaDekrementacja.class
/out/production/JavaTester/OperatoryMatematyczne.class
/out/production/JavaTester/TypyObiektowe.class
/out/production/JavaTester/TypyProste.class
/out/production/JavaTester/Zmienne.class
